/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url("fonts.css");
body {
    font-family:'Stolzl Regular';
    background: #f5f6fa;
	font-size: 14px;
	line-height: 1.4rem;
	color: rgba(0,0,0,.7);
}

h1, h2, h3, h4, h5, h6{
	color: #263238;
}

h1{
	font-size: 30px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 22px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 16px;
}

h6{
	font-size: 12px;
}

p {
    font-family:'Stolzl Regular';
    font-size: 14px;
    color: #7c909a;
}

p:last-child{
	margin-bottom: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover{
	color: #1bb0e8;
}

.wrapper {
	opacity: 0;
	transition: opacity 1s;
}

.container-loaded {
	opacity: 1;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(&#39;https://6ed03b3e7ee716b29bc2dee79aafb8179ed53b19-www.googledrive.com/host/0B9VLbslO6g64UnFTUlQzWDVMdXM&#39;) 50% 50% no-repeat rgb(249,249,249);
}
.loader-container {
	width: 600px;
	height: 200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.nav-link{
	padding-right: .5rem;
    padding-left: 1.5rem !important;
	display: inline;
}

.nav li{
	color: rgba(0,0,0,.5);
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	border-right:1px solid rgba(0,0,0,.5);
    font-size: 14px;
	position: relative;
}

.nav li:last-child:before{
	content: url(../images/sign-out.png);
	width: 15px;
    height: 18px;
    position: absolute;
}

.nav li:last-child{
	border: none;
}

.nav li a:hover{
	color: #1bb0e8 !important;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
	 transition: top 1s linear;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    transition: all 0.3s;
	border-right: solid 1px #e5e9f2
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 15px;
    background: #fff;
	border-bottom: solid 1px #e5e9f2
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li{
	padding: 10px 0px;
}

#sidebar ul > li > a {
	color: #809199;
	transition: all 0.3s linear;
	position: relative;
	padding: 0px 0 0px 65px;
	background-image: url(../images/spritesheet.png);
	background-repeat: no-repeat;
	display: block;
	width: 100%;
}

#sidebar ul li.dashboard > a{
	background-position: 20px -65px;
}

#sidebar ul li.dashboard > a:hover, #sidebar ul li.dashboard.active a{
    background-position: 20px -93px;
}

#sidebar ul li.affiliate > a {
    background-position: 20px -5px;
}

#sidebar ul li.affiliate > a:hover , #sidebar ul li.affiliate.active a{
    background-position: 20px -35px;
}

#sidebar ul li.exchange a{
    background-position: 20px -121px;
}

#sidebar ul li.exchange a:hover, #sidebar ul li.exchange.active a {
    background-position: 20px -147px;
}

#sidebar ul li.settings a{
    background-position: 20px -173px;
}

#sidebar ul li.settings a:hover, #sidebar ul li.settings.active a {
    background-position: 20px -201px;
}

#sidebar ul li.support a{
    background-position: 20px -229px;
}

#sidebar ul li.support a:hover, #sidebar ul li.support.active a {
    background-position: 20px -261px;
}

#sidebar ul li.transaction a{
    background-position: 20px -323px;
}

#sidebar ul li.transaction a:hover, #sidebar ul li.transaction.active a {
    background-position: 20px -293px;
}

#sidebar ul li.wallet a{
    background-position: 20px -353px;
}

#sidebar ul li.wallet a:hover, #sidebar ul li.wallet.active a {
    background-position: 20px -381px;
}

#sidebar ul li a:hover {
    color: #1bb0e8;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #1bb0e8;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul{
	padding-top: 10px;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    color: #253238;
}

#sidebar ul ul li{
	background: none;
	padding: 10px 0;
}

#sidebar ul ul li.active, #sidebar ul ul li:hover{
	background: #f5f6fa;
}

#sidebar ul ul li a, #sidebar ul ul li:hover a{
	color: #6a7d87 !important;
	background: none;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.table tr th{
	font-family: 'Stolzl Regular';
	color: #263238;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content .inner-content{
	padding: 40px;
}

#content.active {
    width: 100%;
}

#sidebarCollapse{
	color: #809199;
	background: none;
	border-color: #809199;
}
#sidebarCollapse:focus{
    box-shadow: none;
}

/* ---------------------------------------------------
    Content styling
----------------------------------------------------- */

.inner-content .title{
	margin-bottom: 20px;
}

.inner-content .form-inline .copy-link{
	max-width: 315px;
    font-size: 14px;
    padding: 13px;
    width: 100%;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.inner-content .form-inline .copy-btn{
	background: #ee5d21;
	color: #fff;
	padding: 13px;
	font-size: 14px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-color: #ee5d21;
	max-width: 100px;
    width: 100%;
}

.inner-content .get-bonus a{
	color: #ee5d21;
}

.inner-content .get-bonus a:hover{
	color: #1bb0e8;
}

.inner-content .alert-custom{
	color: #4a5d52;
	background: #e0f0d9;
	font-size: 13px;
	margin-bottom: 0;
}

.inner-content .autocoin-4-boxes .auto-cols .col-sm-12, .inner-content .autocoin-4-boxes .auto-cols .col-md-3, .inner-content .autocoin-4-boxes .auto-cols .col-lg-3{ 
	border: 1px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
	margin-right: 1rem;
    margin-bottom: 1.5rem;
    flex: 0 0 24%;
    max-width: 24%;
}

.inner-content .autocoin-4-boxes .auto-cols .col-sm-12:last-child{
	margin-right: 0;
}

.inner-content .autocoin-4-boxes .auto-cols, .inner-content .autocoin-3-boxes .auto-cols{
	margin:0;
}

.inner-content .auto-cols div span{
	display: block;
}

.inner-content .autocoin-3-boxes .auto-cols .col-sm-4, .inner-content .autocoin-3-boxes .auto-cols .col-md-4, .inner-content .autocoin-3-boxes .auto-cols .col-lg-4{
	background: #fff;
	border: 1px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.inner-content .autocoin-3-boxes .auto-cols .col-lg-4:nth-child(2){
	border-radius: 0;
	border-left:0;
	border-right: 0;
}

.inner-content .autocoin-3-boxes .auto-cols .col-lg-4:nth-child(1){
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.inner-content .autocoin-3-boxes .auto-cols .col-lg-4:nth-child(3){
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.inner-content .autocoin-3-boxes .auto-cols{
	text-align: center;
}

.inner-content .autocoin-3-boxes .auto-cols span{
	padding-top: 10px;
}

.card.custom-card .card-header{
	background: #fff;
	font-size: 16px;
	padding-left: 85px;
	font-family:'Stolzl Regular';
}

.card.custom-card .card-header{
	position: relative;
}

.card.custom-card .card-header:before{
	content:url(../images/calender.png);
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
	left: 50px;
}

.balance-system .percent{
	color: #7c909a;
}

.balance-system .header{
	font-family:'Stolzl Medium';
}

.custom-card p{
	padding: 1.25rem;
	color: #29ade1;
	font-size: 12px;
}

.white-box{
	padding: 25px;
	background: #fff;
	margin:0;
	border-radius: 4px;
	border: 1px solid #e5e9f2;
}

/* ---------------------------------------------------
    Deposits & Withdrawals Section style
----------------------------------------------------- */

#deposits-withdrawals-tables .table{
	border-collapse: separate;
    border-spacing: 0px 8px;
}

#deposits-withdrawals-tables .table thead tr{
	background: none;
}

#deposits-withdrawals-tables .table thead th{
	padding: 0px 1.75rem !important;
	font-family: 'Stolzl Regular';
}

#deposits-withdrawals-tables .table tr{
	background: #fff;
	margin-bottom: 8px;
}

#deposits-withdrawals-tables .table thead th, #deposits-withdrawals-tables .table tr td{
	border: none;
	padding: 1.75rem;
	vertical-align: middle;
}

#deposits-withdrawals-tables .table tr td{
	border-top: 1px solid #e5e9f2;
	border-bottom: 1px solid #e5e9f2;
	border-radius: 4px;
}

#deposits-withdrawals-tables .table tr td img{
	padding-right: 15px;
}

#deposits-withdrawals-tables .table tr td:first-child{
    border-left: 1px solid #e5e9f2;
}

#deposits-withdrawals-tables .table tr td:last-child{
	border-right: 1px solid #e5e9f2;
}

#deposits-withdrawals-tables .table-hover tbody tr:hover{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(33,37,40,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(33,37,40,0.1);
	box-shadow: 0px 0px 5px 0px rgba(33,37,40,0.1);
}

#deposits-withdrawals-tables .table tr td .btn-custom{
	max-width: 115px;
	width: 100%;
}

.btn-custom{
	background: #f5f6fa;
    border-color: #e5e9f2;
    border-radius: 15px;
    font-size: 13px;
    padding: .375rem 1.5rem;
    margin-right: 10px;
}

.btn-custom:hover{
	background: #1db0e8;
	border-color: #1db0e8;
	color: #ffffff;
}


/* ---------------------------------------------------
    My Open Orders Section style
----------------------------------------------------- */

#my-open-orders-tables .table, #my-trade-history .table{
	background: #ffffff;
	border: 1px solid #e5e9f2;
	border-radius: 4px;
	margin-bottom: 30px;
}

#my-open-orders-tables .table thead, #my-trade-history .table thead{
	background: #eef0f5;
}

#my-open-orders-tables .table thead th, #my-trade-history .table th{
	border: none;
}

#my-open-orders-tables .table tr th, #my-trade-history .table tr th{
	padding: 0.75rem 1rem;
}

#my-open-orders-tables .table tr td, #my-trade-history .table tr td{
	padding: 1rem;
}

#my-open-orders-tables .table tr td .currency-sign, #my-trade-history .table tr td .currency-sign{
	color: #7c909a;
}

.btn-circle {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  border-radius: 15px;
  margin-right: 3px;
}

/* ---------------------------------------------------
    Transactions Section style
----------------------------------------------------- */

.transactions .transaction-currencies .auto-cols, .transactions .transactions-table, .security .security-list, .support-ticket-table .support-new-ticket,
.support-ticket-table .support-list-ticket-table, .history .history-table{
	padding: 25px;
	background: #fff;
	margin:0;
	border-radius: 4px;
	border: 1px solid #e5e9f2;
}

.transactions .transaction-currencies .auto-cols > div{
	border: 1px solid #e5e9f2;
	padding: 10px;
	margin-right: 2.5%;
    flex: 0 0 23%;
    max-width: 23%;
	display: flex;
	align-items: center;
}

.transactions .transaction-currencies .auto-cols > div:last-child{
	margin-right: 0;
}

.transactions .transaction-currencies .auto-cols div span{
	display: inline-block;
}

.transactions .transactions-table form select, .history .history-table form select,
#my-trade-history form select, #profile form select{
	max-width: 245px;
    width: 100%;
    height: 38px;
    padding: 4px;
    line-height: 38px;
    text-indent: 5px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #e5e9f2;
	font-size: 12px;
	margin: 5px 0;
}

.input-text{
	max-width: 245px;
    width: 100%;
    height: 38px;
    padding: 4px;
    line-height: 38px;
    text-indent: 5px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #e5e9f2;
	font-size: 12px;
	margin: 5px 0;
	border-radius: 4px;
}

.input-submit{
	background: #1db0e8;
    border-color: #1db0e8;
    color: #fff;
	border-radius: 15px;
    font-size: 13px;
    padding: .375rem 1.5rem;
    margin-right: 10px;
	margin: 5px 0;
}

.transactions .transactions-table form select:focus, .history .history-table form select:focus, 
#my-trade-history form select:focus, #profile form select:focus{
    outline: none;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(33,37,40,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(33,37,40,0.1);
	box-shadow: 0px 0px 5px 0px rgba(33,37,40,0.1);
}

.transactions .transactions-table .table td, .transactions .transactions-table .table th, .history .history-table .table th,
.history .history-table .table td{
	border-top: none;
	border-bottom: 1px solid #e5e9f2;
}

/* ---------------------------------------------------
    Security Page style
----------------------------------------------------- */

.security .security-list ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.security .security-list ul li{
	padding: 25px 0;
	border-bottom: 1px solid #e5e9f2;
}

.security .security-list ul li:last-child{
	border: none;
}

.security .security-list .list-title h5{
	color: #2c1b5e;
}

.security .security-list ul li .list-title button{
	background: #ee5d21;
	color: #ffffff;
	border-color: #ee5d21;
	font-size: 12px;
    padding: 6px 15px;
    border-radius: 4px;
}

.security .security-list ul li .list-btn .btn-custom, .support-ticket .support-new-ticket .btn-custom{
	background: #1db0e8;
	border-color: #1db0e8;
	color: #fff;
}

.security .security-list ul li .list-btn .btn-custom:hover, .support-ticket .support-new-ticket .btn-custom:hover, .input-submit:hover{
	background: #ee5d21;
	border-color: #ee5d21;
	cursor: pointer;
}

/* ---------------------------------------------------
    Support and Ticket Page style
----------------------------------------------------- */
.support-ticket .support-new-ticket .btn-custom, .support-ticket .support-new-ticket .btn-custom:hover{
	border-radius: 4px;
	border-radius: 20px;
    padding: 0.5rem 2.1rem;
    position: relative;
    padding-right: 1.2rem;
}

.support-ticket .support-new-ticket .btn-custom:before{
	content: url(../images/support-ticket-icon.png);
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	left: 15px;
}

.support-ticket-table .support-list-ticket-table .support-list-ticket-title{
	position: relative;
	padding: 1rem 2rem;
}

.support-ticket-table .support-list-ticket-table .support-list-ticket-title:before{
	content: url(../images/list-ticket-icon.png);
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	left: 0;
	width: 23px;
	height: 23px;
}

.support-ticket-table .support-list-ticket-table .table thead{
	border-top: 1px solid #e5e9f2;
}

.support-ticket-table .support-list-ticket-table .table thead tr th{
	border-bottom: 1px solid #e5e9f2;
}

/* ---------------------------------------------------
    Profile Page style
----------------------------------------------------- */

#profile .bfh-countries{
	display: block;
}

#profile .input-text, #profile select{
	max-width: 345px !important;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
	
	#content .inner-content {
		padding: 40px 15px;
	}
	
	#deposits-withdrawals-tables .table thead th, #deposits-withdrawals-tables .table tr td, #my-open-orders-tables .table tr td, #my-open-orders-tables .table tr th{
		padding: 0.75rem;
	}
}

@media (max-width: 992px) {
	.inner-content .autocoin-3-boxes .auto-cols .col-lg-4:nth-child(2){
		border: 1px solid #ccc;
	}
	
	.inner-content .autocoin-4-boxes .auto-cols .col-sm-3, .inner-content .autocoin-4-boxes .auto-cols .col-md-3, .inner-content .autocoin-4-boxes .auto-cols .col-lg-3,
	.transactions .transaction-currencies .auto-cols > div{
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.transactions .transaction-currencies .auto-cols > div{
		margin-bottom: 20px;
	}
	
	.card.custom-card{
		height: auto !important;
	}
	
	.nav li{
		text-align:center;
		border: none;
		padding: 5px 0;
	}
	
	.inner-content .get-bonus{
		margin-top: 0.5rem;
    	margin-left: 0 !important;
	}
	
	.balance-system-col, .ico-detail-col{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%; 
	}
	
	table.table tr{
		border:	1px solid #e5e9f2;
	}
	
	table.table{
		border: none !important;
	}
	
	table.table,
	table.table thead,
	table.table tbody,
	table.table th,
	table.table td,
	table.table tr {
		display: block;
	}
	
	table.table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	table.table td {
		border: none !important;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50% !important;
		white-space: normal;
		text-align: right;
		min-height: 30px;
	}
	
	table.table td:before {
		position: absolute;
		left: 20px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
		font-family:'Stolzl Medium';
	}
	
	table.table td:before {
		content: attr(data-title);
	}
	
	table.table tr:nth-child(2n+1) {
		background: #ffffff
	}
	.input-submit{
		display: block;
	}
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content{
        width: 100%;
    }
	#content .inner-content{
		padding: 20px 10px;
	}
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
	.inner-content .autocoin-4-boxes .auto-cols div img, .transaction-currencies .auto-cols div img{
		margin-right: 1rem;
	}
	.input-text, select{
		width: 100% !important;
		max-width: 100% !important;
		
	}
}

@media (max-width: 520px) {

.ico-detail-list .col{
	padding: 0 5px;
}

.ico-detail-list .header{
	font-size: 12px;
	line-height: 18px;
}
.inner-content .form-inline .copy-link, .inner-content .form-inline .copy-btn{
	max-width: 100%;
	border-radius: 4px;
}
.inner-content .form-inline .copy-btn{
	margin-top: 10px;
}
}